{
	"presets": [
		[
			"@babel/stage-2",
			{
				"decoratorsLegacy": true
			}
		],
		"@babel/react",
		[
			"@babel/env",
			{
				"production": {
					"presets": [
						"minify"
					]
				}
			}
		]
	],
	"plugins": ["babel-plugin-styled-components"]
}
