doctype
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=BenchNine:400,700|Bowlby+One+SC" rel="stylesheet")
		title= htmlWebpackPlugin.options.title
	body
		#app
